@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Slide animation classes */
.slideUp {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  z-index: 3;
}

.slideDown {
  opacity: 0;
  transform: translateY(-40px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  z-index: 3;
}

.slideLeft {
  opacity: 0;
  transform: translateX(40px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  z-index: 3;
}

.slideRight {
  opacity: 0;
  transform: translateX(-40px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  z-index: 3;
}

/* Trigger the animation */
.inView {
  animation: slideUp 0.5s ease-out forwards;
}

/* Width options */
.fullWidth {
  width: 100%;
}

.fitContent {
  width: fit-content;
  /* margin: auto; */
}
