/* 576 && 768 && 992 */

.nav_container {
  width: 100vw;
  margin: auto;
  position: fixed;
  z-index: 99999;
  background-color: var(--background-color);
  /* display: flex;
  justify-content: start;
  align-items: center; */
  /* background-color: aquamarine; */
}

.nav_content_container {
  display: flex;
  align-items: center;
  /* justify-content: start; */
  justify-content: space-between;
  padding: 10px 10px;
  margin: auto;
  width: 100%;
  gap: 20px;
}

.nav_content_container img {
  width: 160px;
}

.nav_icons_container {
  display: flex;
  align-items: center;
}

.nav_icons_container svg {
  padding-top: 5px;
  padding-right: 20px;
  font-size: 2.5rem;
  color: var(--text-color);
}

.nav_icons_container a:hover svg {
  color: var(--light-primary-color);
}

.nav_links_container {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: absolute;
  top: 50px;
  left: 0;
  background-color: var(--background-color);
  /* background-color: aqua; */
  padding: 0 10px;
  margin: 10px 30px;
  /* width: calc(100vw - 80px); */
  width: 100%;
  margin-left: 0;
  overflow: hidden;
  height: 0px;
  transition: height 0.3s ease-out;
  -webkit-transition: height 0.3s ease-out;
  -moz-transition: height 0.3s ease-out;
  -ms-transition: height 0.3s ease-out;
  -o-transition: height 0.3s ease-out;
}

/* .nav_open ~ .nav_links_container {
  height: 260px;
  padding: 10px;
} */

.nav_link {
  padding-top: 15px;
  text-decoration: none;
  color: var(--text-color);
  margin-bottom: 30px;
  border-bottom: none;
  transition: border-bottom 1s ease-out;
  -webkit-transition: border-bottom 1s ease-out;
  -moz-transition: border-bottom 1s ease-out;
  -ms-transition: border-bottom 1s ease-out;
  -o-transition: border-bottom 1s ease-out;
  position: relative;
}

.nav_link::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--light-primary-color);
  transition: width 0.3s ease-out, left 0.3s ease-out;
  -webkit-transition: width 0.3s ease-out, left 0.3s ease-out;
  -moz-transition: width 0.3s ease-out, left 0.3s ease-out;
  -ms-transition: width 0.3s ease-out, left 0.3s ease-out;
  -o-transition: width 0.3s ease-out, left 0.3s ease-out;
}

.nav_link:hover::before {
  width: 100%;
  left: 0;
}

.theme_icon {
  cursor: pointer;
}

.cart_icon {
  position: relative;
}
.cart_count {
  position: absolute;
  color: var(--primary-color);
  text-decoration: none;
}

/* Styles for tablets and larger screens A */
@media (min-width: 576px) {
  .nav_content_container {
    justify-content: space-between;
    width: 100%;
  }
}

/* Styles for tablets and larger screens B */
@media (min-width: 768px) {
  .nav_links_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: static;
    background-color: transparent;
    padding: 0;
    width: fit-content;
    height: auto;
  }
  .nav_icons_container {
    flex-direction: row-reverse;
  }
  .nav_open ~ .nav_links_container {
    height: auto !important;
  }

  .nav_link {
    margin-bottom: 0;
    padding-top: 0;
    margin-left: 25px;
  }
  .theme_icon {
    padding-bottom: 3px;
  }
  .nav_icons_container svg {
    font-size: 2.5rem;
  }
}

/* Styles for desktops and larger screens */
@media (min-width: 992px) {
  .nav_content_container {
    max-width: 1200px;
    margin: auto;
    padding: 10px 30px;
  }
}
