.heading_container h3,
.heading_container p {
  text-align: center;
}

.heading_container h3 {
  color: var(--text-color);
  font-size: 2rem;
  margin-bottom: 10px;
}

.heading_container p {
  color: var(--secondary-text-color);
  width: 80%;
  margin: auto;
  padding-bottom: 40px;
}

@media (min-width: 992px) {
  .heading_container p {
    margin: 0 auto;
  }
  .heading_container p {
    width: 70%;
  }
}
