/* 576 && 768 && 992 */

.products_container {
  padding: 30px;
  background-color: var(--background-color);
}

.products_links {
  margin-top: -20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
}

.products_links p {
  cursor: pointer;
  color: var(--text-color);
}

.products_links p.active {
  color: var(--primary-color);
}

.products_cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.products_card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 350px;
  width: 200px;
  overflow: hidden;
  padding: 5px 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: #ffffff;
  box-shadow: rgba(77, 77, 77, 0.35) 0px 5px 15px;
}

.products_card a {
  text-decoration: none;
  color: #000000;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  text-align: center;
}

.products_card img {
  height: 150px;
  width: 90%;
  object-fit: contain;
}

.products_card button {
  padding: 5px 10px;
  border: 1px solid var(--primary-color);
  background-color: transparent;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.products_card button:hover {
  background-color: var(--primary-color);
  color: #ffffff;
}

.products_product_link:hover .products_product_title {
  color: var(--primary-color);
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .products_container {
    padding: 50px;
  }
  .products_content_container {
    max-width: 1200px;
    margin: auto;
  }
}
