/* 576 && 768 && 992 */

.contact_container {
  background-color: var(--background-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: scroll;
  padding: 30px;
}

.contact_content_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.contact_content,
.contact_form {
  position: relative;
  z-index: 10;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.contact_heading h3 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.contact_heading p {
  width: 70%;
  margin: auto;
  padding-bottom: 20px;
}

.contact_info h4 {
  font-size: 1.1rem;
  padding-bottom: 10px;
  padding-top: 15px;
}
.contact_info p {
  padding-bottom: 10px;
}

.contact_form {
  background-color: var(--background-color);
  width: 300px;
  margin: auto;
  padding: 10px;
  border: 1px solid var(--text-color);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.contact_form input {
  background-color: var(--background-color);
  padding: 15px 15px;
  width: 250px;
  margin: 15px 0;
  border: 1px solid #eeeeee;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.contact_form .contact_submit {
  color: var(--primary-color);
  background-color: transparent;
  border: 1px solid var(--primary-color);
  width: 150px;
  cursor: pointer;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  transition: background-color 0.3s ease-out;
  -webkit-transition: background-color 0.3s ease-out;
  -moz-transition: background-color 0.3s ease-out;
  -ms-transition: background-color 0.3s ease-out;
  -o-transition: background-color 0.3s ease-out;
}

.contact_form .contact_submit:hover {
  background-color: var(--primary-color);
  color: var(--text-color);
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .contact_form {
    width: 350px;
    padding: 20px;
  }
  .contact_form input {
    width: 300px;
  }
}

@media (min-width: 992px) {
  .contact_container {
    padding: 50px;
    background-attachment: fixed;
  }

  .contact_content_container {
    flex-direction: row;
    max-width: 1200px;
    /* gap: ; */
    margin: auto;
  }
  .contact_content {
    margin-bottom: 0;
    text-align: left;
    /* margin-right: 100px; */
  }
  .contact_heading p {
    width: 85%;
    margin: 0;
    padding-bottom: 15px;
  }
  .contact_info {
    width: 100%;
  }
  .contact_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    margin: 0;
  }
  .contact_form input {
    width: 350px;
  }
}
